$maincolor: #9c88ff;

@import url(./menu.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1{
  font-weight: 600;
}
h2{
  font-weight: 400;
}
h3{
  font-weight: 300;
}
a{
  color: $maincolor;
}

/* 
!--------------------------------
!--------------------------------
?--------------------------------
?--------------------------------

    **LANDING PAGE**

?--------------------------------
?--------------------------------
!--------------------------------
!--------------------------------
*/

/*Content of landing page*/
#wrapper1 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg1.jpg);
  background-position: bottom;
  background-size: cover;
  #w1content {
    width: 50%;
    margin-left: 15%;
    margin-top: 6vmax;
    /*Title*/
    h1 {
      font-size: 5vmax;
      line-height: 6vmax;
      color: white;
    }
    /*Description*/
    h2 {
      width: 60%;
      margin-top: 5%;
      color: white;
    }
    /*Call to action*/
    .w1buttons {
      width: 25vmax;
      height: 4vmax;
      margin-top: 10%;
      background-color: tan;
    }
  }
  /*go up button */
  #arrowup {
    width: 3vmax;
    height: 3vmax;
    position: fixed;
    background-color: white;
    right: 2vmax;
    border-radius: 50%;
    top: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    translate: transformY(-50%);
    -webkit-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    img {
      width: 1.6vmax;
      height: 1.6vmax;
      transform: rotate(270deg);
    }
  }
}
/* 
!--------------------------------
!--------------------------------
?--------------------------------
?--------------------------------

    **Wrapper 2/Counter**

?--------------------------------
?--------------------------------
!--------------------------------
!--------------------------------
*/ 


.wrapper2 {
  width: 100%;
  height: 16vmax;
  background: linear-gradient(-3deg, $maincolor 25%, rgba(0, 0, 0, 0) 25.3%);
  padding-top: 1vmax;
  #w2content {
    width: 90%;
    height: 8vmax;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .w2box {
      height: 8vmax;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .counter {
        font-size: 2.1vmax;
      }
      h3 {
        padding-top: 20px;
        font-size: 1.5vmax;
      }
    }
  }
}
/* 
!--------------------------------
!--------------------------------
?--------------------------------
?--------------------------------

    **Wrapper 3**

?--------------------------------
?--------------------------------
!--------------------------------
!--------------------------------
*/ 
.wrapper3 {
  width: 100%;
  padding-bottom: 10vmax;
  background: linear-gradient(-2deg, #292929 4%, rgba(0, 0, 0, 0) 4.1%);
   /*title*/
  h1 {
    text-align: center;
    margin: 8vmax auto;
    width: 60%;
    font-size: 1.6vmax;
  }
   /*container for content*/
  .w3container {
    width: 50%;
    margin: 7vmax auto;
    justify-content: space-around;
    display: grid;
    grid-gap: 5vmax;
    grid-template-columns: repeat(3, 1fr);
     /*single box with icon*/
    .w3box {
      width: 100%;
      height: 12vmax;
      .w3content {
        width: 100%;
        height: 98%;
        /*icon*/  
        .w3icon {
          width: 4vmax;
          height: 7vmax;
          margin: auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
        /*card title*/  
        h3 {
          width: 80%;
          text-align: center;
          margin: 1vmax auto;
          font-size: 1.1vmax;
        }
      }
      /*bottom bar*/  
      .w3bar {
        width: 100%;
        height: 2%;
        background-color: $maincolor;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
  /*Call to action */  
  h2 {
    width: 45%;
    margin: auto;
    font-size: 2vmax;
    text-align: center;
  }
  .w3button {
    background-color: $maincolor;
    width: 12vmax;
    margin: 2vmax auto;
    border-radius: 50px;
    padding: 1vmax 2vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1vmax;
    cursor: pointer;
  }
}


/* 
!--------------------------------
!--------------------------------
?--------------------------------
?--------------------------------

    **Wrapper 4**

?--------------------------------
?--------------------------------
!--------------------------------
!--------------------------------
*/
.wrapper4 {
  width: 100%;
  height: 40vmax;
  background: linear-gradient(-2deg, $maincolor 13%, rgba(0, 0, 0, 0) 13.2%);
  background-color: #292929;
  padding-top: 2vmax;
   /*title */  
  h1 {
    text-align: center;
    font-size: 2vmax;
    color: white;
  }
  .w4container {
    width: 80%;
    height: 24vmax;
    margin: 5vmax auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .w4spacer1,
    .w4spacer2 {
      width: 3vmax;
      height: 3vmax;
      display: none;
    }
    .w4spacer1 {
      display: block;
    }
     /* Next and prev btn */  
    .w4arrow1,
    .w4arrow2 {
      width: 3vmax;
      height: 3vmax;
      background-position: center;
      background-size: cover;
      background-image: url(../img/icons/arrow.png);
      cursor: pointer;
    }
    .w4arrow1 {
      display: none;
      transform: rotate(180deg);
    }
     /*Carousel */  
    .w4section {
      width: 60vmax;
      height: 24vmax;
      overflow-x: hidden;
      .w4content {
        width: 180vmax;
        margin-top: 3%;
        display: flex;
        justify-content: space-around;
        transition: all 1s ease-in-out;
        .w4box {
          width: 20vmax;
          padding-top: 2vmax;
           /*Comment */  
          p {
            font-size: 1.1vmax;
            text-align: center;
            color: white;
          }
          /*author */ 
          h3 {
            text-align: center;
            color: $maincolor;
            margin-top: 2vmax;
            font-size: 1.4vmax;
          }
        }
      }
      /* Dots under carousel*/ 
      .w4dots {
        width: 5vmax;
        height: 1vmax;
        margin: 5vmax auto 0 auto;
        display: flex;
        justify-content: space-around;
        .dot {
          width: 1vmax;
          height: 1vmax;
          border-radius: 100%;
          background-color: white;
          cursor: pointer;
        }
        #dot1 {
          background-color: $maincolor;
        }
      }
    }
  }
}
/* 
!--------------------------------
!--------------------------------
?--------------------------------
?--------------------------------

    **Wrapper 5**

?--------------------------------
?--------------------------------
!--------------------------------
!--------------------------------
*/
.wrapper5 {
  width: 100%;
  height: 35vmax;
  background-color: white;
  /* Content*/ 
  .w5content {
    width: 65%;
    height: 100%;
    padding: 5% 0 0 13%;
    float: left;
    h1 {
      font-size: 2.5vmax;
    }
    .w5container {
      width: 80%;
      display: grid;
      margin-top: 7vmax;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
      grid-gap: 3vmax 3vmax;
      .box {
        width: 100%;
        h2 {
          font-size: 1.5vmax;
        }
        h3 {
          font-size: 1.1vmax;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
  /* Social section */ 
  .w5socials {
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 1.8vmax;
      color: $maincolor;
    }
    .w5socialbar {
      margin-top: 2vmax;
      width: 12vmax;
      height: 2.4vmax;
      display: flex;
      justify-content: space-around;
      .w5icon {
        width: 2.4vmax;
        height: 2.4vmax;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
/* 
!--------------------------------
!--------------------------------
?--------------------------------
?--------------------------------

    **Wrapper 6/ FOOTER**

?--------------------------------
?--------------------------------
!--------------------------------
!--------------------------------
*/
.wrapper6 {
  width: 100%;
  height: 3vmax;
  background-color: $maincolor;
  text-align: right;
  padding-right: 10%;
  h2 {
    color: white;
    line-height: 3vmax;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

/* 
!--------------------------------
!--------------------------------
?--------------------------------
?--------------------------------

    **RESPO**

?--------------------------------
?--------------------------------
!--------------------------------
!--------------------------------
*/

@media screen and (orientation: portrait) {
  
  #wrapper1{
    #w1content{
      width: 90%;
      margin: 15% auto 0%;
      h1{
        font-size: 10vmax;
        line-height: 10vmax;
        text-align: center;
      }
      h2{
        width: 80%;
        font-size: 2.5vmax;
        margin: 10% auto;
        text-align: center;
      }
      .w1buttons{
        width: 60%;
        height: 6vmax;
        margin: 10% auto;
      }  
  } 
  #arrowup {
    width: 6vmax;
    height: 6vmax;
    img {
      width: 2.4vmax;
      height: 2.4vmax;
    }
  }
  }
  .wrapper2 {
    height: 32vmax;
    background: linear-gradient(-3deg, $maincolor 15%, rgba(0, 0, 0, 0) 15.4%);
    #w2content{
      width: 90%;
      grid-template-columns: 1fr 1fr;
      
      .w2box{
        height: 12vmax;
        .counter {
          font-size: 3.5vmax;
        }
      }
    }
  }
  .wrapper3{
    background: linear-gradient(-2deg, #292929 4%, rgba(0, 0, 0, 0) 4.1%);
    h1{
      width: 90%;
      font-size: 2.4vmax;
    }
    .w3container{
      width: 75%;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10%;
      padding-bottom: 55%;
      .w3box {
        width: 100%;
        height: 18vmax;
        .w3content{
          width: 100%;
          height: 98%;
          .w3icon{
            width: 7vmax;
            height: 11vmax;
        } 
        h3 {
          width: 90%;
          text-align: center;
          margin: 1vmax auto;
          font-size: 2vmax;
        }
      }
    }
  }
  h2 {
    width: 70%;
    margin: auto;
    font-size: 2.7vmax;
    text-align: center;
  }
  .w3button {
    width: 25%;
    padding: 2vmax 8vmax;
    margin: 2vmax auto;
    font-size: 1.5vmax;
  }
}
#mobilehide{
  display: none;
}
.wrapper4{
  padding-top: 3vmax;
  height: 50vmax;
  background: linear-gradient(-2deg, $maincolor 8%, rgba(0, 0, 0, 0) 8.4%);
  background-color: #292929;
  h1{
    font-size: 2.5vmax;
  }
  .w4container{
    height: 30vmax;
    width: 60vmax;
    .w4section{
      height: 100%;
      width: 50vmax;
      .w4content{
        width: 145vmax;
        justify-content: space-around;
        .w4box{
          width: 30%;
          p{
            font-size: 1.7vmax;
          }
          h3{
            font-size: 2vmax;
          }
        }
      }
    }
  }
}
.wrapper5{
  height: 60vmax;
  .w5content {
    float: unset;
    width: 100%;
    height: 65%;
    padding: 5% 0;
    h1 {
      font-size: 3.5vmax;
      text-align: center;
    }
    .w5container{
      width: 90%;
      margin: 7vmax auto;

      .box{
        text-align: center;
      }
      .box h2{
        font-size:2.4vmax;
      }
      .box h3{
        font-size: 1.8vmax;
      }
    }
  }
  .w5socials{
    width: 100%;
    height: 30%;
    float: unset;
    h2 {
      font-size: 3vmax; 
    }
    .w5socialbar {
      width: 24vmax;
      height: 4vmax;
      .w5icon {
        width: 4vmax;
        height: 4vmax;
    }
  }
}
}
.wrapper6{
  height: 6vmax;
  h2{
    line-height: 6vmax;
  }
}
}

@media screen and (max-width: 550px) {
#wrapper1 #w1content h1{
  font-size: 7vmax;
}
#wrapper1 #w1content h2{
  font-size: 2vmax;
}
.wrapper3{
  width: 100%;
  h1{
    font-size: 2vmax;
    font-weight: 500;
  }
    .w3container{
      width: 90%;
      margin: auto;
      grid-gap: 5%;
      padding-bottom: 45%;
      .w3box .w3content h3{
        font-size: 1.6vmax;
      }
    }
  }
  .wrapper4 .w4container{
    width: 45vmax;
    height: unset;
    .w4section{
      width: 35vmax;
      .w4content{
        width: 100vmax;
      }
    }
  }
  .wrapper5{
    height: unset;
    .w5content{
      padding-bottom: unset;
      h1{
        font-size: 3vmax;
      }
      .w5container{
        grid-template-columns: 1fr;
        .box{
          padding-top: 2vmax;
        }
        .box h2{
          font-size: 2.8vmax;
        }
        .box h3{
          font-size: 2.1vmax;
        }
      }
    }
    .w5socials{
      padding: 0 0 10%;
      h2{
        font-size: 4vmax;
        color: black;     
       }
    }
  }
  .wrapper6 h2{
    font-size: 2.5vmax;
  }
}
