

nav {
    height: 5vmax;
    z-index: 9999;
  }
  
  nav ul {
    float: right;
    margin-top: 2vmax;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li:not(:first-child) {
    margin-left: 3vmax;
  }
  
  nav ul li:last-child a {
    margin-right: 4vmax;
    color: #9c88ff;
  }
  
  nav ul li a {
    display: inline-block;
    outline: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3vmax;
    letter-spacing: 0.1vmax;
    font-weight: 400;
  }
  
  #nav:checked + * + body + html {
    overflow-y: hidden;
  }
  
  #nav:checked + .nav-btn {
    position: fixed;
    right: 2vmax;
    top: 5vmax;
    transform: rotate(45deg);
  }
  
  #nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
  }
  
  #nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(9px) rotate(180deg);
  }
  
  #nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
  }
  
  #nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  
  #nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
  }
  
  #nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
  }
  
  .hidden {
    display: none;
  }
  
  .logo {
    position: relative;
    top: 50%;
    margin-top: -2vmax;
    float: left;
    margin-left: 3vmax;
    height: 4vmax;
    width: 20vmax;
    z-index: 9990;
    background: chartreuse;
  }



  @media screen and (orientation: portrait) {
    nav {
        background-color: green;
        height: 10vmax;
      }
      .nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        text-align: center;
        background-color: white;
        border-left: 3px solid black;
        opacity: 0;
        transition: all 0.2s ease;
      }.logo{
        height: 7vmax;
        margin-top: -3.5vmax;
        width: 22vmax;
      }
      .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
      .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 1vmax;
      }
      nav ul li:last-child a {
        margin-right: 0;
        color: #9c88ff;
      }
    
      .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
      }
      .nav-wrapper ul li a {
        padding: 2vmax 3vmax;
        opacity: 0;
        color: black;
        font-size: 2vmax;
        letter-spacing: 1.2px;
        transform: translateX(-50px);
        transition: all 0.2s ease;
      }
      .nav-btn {
        position: relative;
        float: right;
        display: block;
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 9999;
        right: 2vmax;
        border-radius: 50%;
        top: 50%;
        margin-top: -30px;
      }
      .nav-btn i {
        display: block;
        width: 30px;
        height: 4px;
        background-color: black;
        border-radius: 2px;
        margin-left: 15px;
      }
      .nav-btn i:nth-child(1) {
        margin-top: 20px;
      }
    
      .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
      }
    
      .nav-btn i:nth-child(3) {
        margin-top: 4px;
      }
  }